<a href="https://colab.research.google.com/github/naveenila1221/PyLearning/blob/main/250326.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
setItems = {0, 1,2,3, 1, "apple", True, False, 0}
print(setItems)
print(len(setItems))

{0, 1, 2, 3, 'apple'}
5

In [ ]:
#with comments
setCon = set(('a', 'b', 'c'))
print(setCon)

{'a', 'c', 'b'}

In [ ]:
#printing set items
for x in setCon:
  print(x)

a
c
b

In [ ]:
#check an item present in set or not
fruitsSet = {"apple", "banana", "cherry"}
flag = "banana" in fruitsSet
print ("flag value", flag)

flag value True

In [ ]:
# Add new items to the set
fruitsSet.add("kiwi")
print(fruitsSet)

{'cherry', 'banana', 'apple', 'kiwi'}

In [ ]:
# Update set with new items from another set
tropical = {"pineapple", "mango"}
fruitsSet.update(tropical)
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'banana', 'apple', 'mango'}

In [ ]:
# update items from a list
fruitsList = ["dragon", "orange"]
fruitsSet.update(fruitsList)
print(fruitsSet)

{'cherry', 'kiwi', 'orange', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}

In [ ]:
#remove an item from set
fruitsSet.remove("orange")
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}

In [ ]:
#remove an item from set with discard
fruitsSet.discard("orange") #Already removed. However, discard will not show any error
print(fruitsSet)
fruitsSet.discard("banana")
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}
{'cherry', 'kiwi', 'pineapple', 'dragon', 'apple', 'mango'}

In [ ]:
# clearing the set
fruitsCopy = fruitsSet.copy()
print(fruitsCopy)
fruitsCopy.clear()
print(fruitsCopy)

{'cherry', 'kiwi', 'pineapple', 'dragon', 'apple', 'mango'}
set()

In [ ]:
#delete the set
del fruitsCopy

In [ ]:
# adding to set
setAlpha = {'a', 'b', 'c'}
setBeta = {'d', 'e', 'f'}
setAlpha.update(setBeta)
print(setAlpha)
setNewWithAlphaBeta = setAlpha | setBeta | fruitsSet
print(setNewWithAlphaBeta)

{'d', 'e', 'c', 'f', 'a', 'b'}
{'e', 'pineapple', 'dragon', 'apple', 'a', 'mango', 'd', 'cherry', 'kiwi', 'f', 'c', 'b'}

In [ ]:
tupleOne = (1, 2, 3, 4)
setBeta = setBeta.union(tupleOne)
print(setBeta)

{'e', 1, 2, 3, 4, 'd', 'f'}

In [2]:
intersectionSet1 = {"apple", "banana", "cherry", "papaya"}
intersectionSet2 = {"kiwi", "banana", "papaya"}
newIntersectionSet = intersectionSet1.intersection(intersectionSet2)
print(newIntersectionSet)

{'papaya', 'banana'}