In [25]:
setItems = {0, 1,2,3, 1, "apple", True, False, 0}
print(setItems)
print(len(setItems))

{0, 1, 2, 3, 'apple'}
5

In [26]:
#with comments
setCon = set(('a', 'b', 'c'))
print(setCon)

{'a', 'c', 'b'}

In [27]:
#printing set items
for x in setCon:
  print(x)

a
c
b

In [28]:
#check an item present in set or not
fruitsSet = {"apple", "banana", "cherry"}
flag = "banana" in fruitsSet
print ("flag value", flag)

flag value True

In [29]:
# Add new items to the set
fruitsSet.add("kiwi")
print(fruitsSet)

{'cherry', 'banana', 'apple', 'kiwi'}

In [30]:
# Update set with new items from another set
tropical = {"pineapple", "mango"}
fruitsSet.update(tropical)
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'banana', 'apple', 'mango'}

In [31]:
# update items from a list
fruitsList = ["dragon", "orange"]
fruitsSet.update(fruitsList)
print(fruitsSet)

{'cherry', 'kiwi', 'orange', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}

In [32]:
#remove an item from set
fruitsSet.remove("orange")
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}

In [33]:
#remove an item from set with discard
fruitsSet.discard("orange") #Already removed. However, discard will not show any error
print(fruitsSet)
fruitsSet.discard("banana")
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}
{'cherry', 'kiwi', 'pineapple', 'dragon', 'apple', 'mango'}