In [6]:
setItems = {0, 1,2,3, 1, "apple", True, False, 0}
print(setItems)
print(len(setItems))

{0, 1, 2, 3, 'apple'}
5

In [7]:
#with comments
setCon = set(('a', 'b', 'c'))
print(setCon)

{'a', 'c', 'b'}

In [8]:
#printing set items
for x in setCon:
  print(x)

a
c
b

In [10]:
#check an item present in set or not
fruitsSet = {"apple", "banana", "cherry"}
flag = "banana" in fruitsSet
print ("flag value", flag)

flag value True

In [11]:
# Add new items to the set
fruitsSet.add("kiwi")
print(fruitsSet)

{'cherry', 'banana', 'apple', 'kiwi'}

In [12]:
# Update set with new items from another set
tropical = {"pineapple", "mango"}
fruitsSet.update(tropical)
print(fruitsSet)

{'cherry', 'kiwi', 'pineapple', 'banana', 'apple', 'mango'}

In [14]:
# update items from a list
fruitsList = ["dragon", "orange"]
fruitsSet.update(fruitsList)
print(fruitsSet)

{'cherry', 'kiwi', 'orange', 'pineapple', 'dragon', 'banana', 'apple', 'mango'}