In [1]:
thisList = ["A", "B", "C"]
print(thisList)
thisList.remove("A")
print(thisList)

['A', 'B', 'C']
['B', 'C']

In [2]:
thisList = ["A", "B", "C", "B"]
print(thisList)
thisList.remove("A")

['A', 'B', 'C', 'B']

In [3]:
thisList = ["A", "B", "C", "B"]
print(thisList)
thisList.remove("A")
print(thisList)
thisList.remove("B")
print(thisList)

['A', 'B', 'C', 'B']
['B', 'C', 'B']
['C', 'B']

In [4]:
thisList = ["A", "B", "C", "B"]
thisList.pop(-1)
print(thisList)

['A', 'B', 'C']

In [5]:
thisList = ["A", "B", "C", "B"]
del thisList[2]
print(thisList)

['A', 'B', 'B']

In [6]:
thisList = ["A", "B", "C", "B"]
del thisList
# print(thisList) - this will result an error

In [7]:
thisList = ['A', 'B']
print(thisList)
thisList.clear()
print(thisList)

['A', 'B']
[]

In [8]:
thisList = [1, 2, 3, 4, 5]
sum = 0
for i in thisList:
  sum += i
print(sum)

15

In [9]:
sum = 0
for i in range(len(thisList)):
  #print(thisList[i])
  sum += thisList[i]
print(sum)

15

In [10]:

sum, i = 0, 0
while i < len(thisList):
  sum += thisList[i]
  i += 1
print(sum)

15

In [11]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [12]:
fruits = ["apple", "banana", "Mango", "kiwi", "orange", "cherry", "grape", "dragon"]
newList = []
for x in fruits:
  if "a" in x:
    newList.append(x)
print(newList)

['apple', 'banana', 'Mango', 'orange', 'grape', 'dragon']

In [13]:
newList = [x for x in fruits if "a" in x]
print(newList)

['apple', 'banana', 'Mango', 'orange', 'grape', 'dragon']

In [14]:
newList = [x for x in fruits if "a" not in x]
print(newList)

['kiwi', 'cherry']

In [15]:
newList = [x for x in fruits if x != "cherry"]
print(newList)

['apple', 'banana', 'Mango', 'kiwi', 'orange', 'grape', 'dragon']

In [16]:
numList = [(x+1) for x in range(10)]
print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
numList = [x for x in range(10) if x%2 == 0]
numList2 = [x/2 for x in range(10)]
oddNum = [x for x in range(10) if x%2 == 1]
print(numList)
print(numList2)
print(oddNum)

[0, 2, 4, 6, 8]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]
[1, 3, 5, 7, 9]

In [18]:
fruits = [x.upper() for x in fruits]
print(fruits)

['APPLE', 'BANANA', 'MANGO', 'KIWI', 'ORANGE', 'CHERRY', 'GRAPE', 'DRAGON']

In [19]:
#Return the item if it is not BANANA, if it is BANANA return berry
newList = [x.lower() if x != "BANANA" else "berry" for x in (fruits)]
newList.sort() # sorting the list
print(newList)

['apple', 'berry', 'cherry', 'dragon', 'grape', 'kiwi', 'mango', 'orange']

In [20]:
newList.sort(reverse= True) # sorting the list in reverse order
print(newList)

['orange', 'mango', 'kiwi', 'grape', 'dragon', 'cherry', 'berry', 'apple']

In [21]:
#custom sorting
def customSort(n):
  return abs(n-30)
numAry = [20,70,50,15,30,60,45,55,25]
numAry.sort(key = customSort)
print(numAry)
numAry.reverse()
print(numAry)

[30, 25, 20, 15, 45, 50, 55, 60, 70]
[70, 60, 55, 50, 45, 15, 20, 25, 30]

In [22]:
fruitsCpy = [x.lower() for x in fruits.copy()]
print(fruitsCpy)
fruitsCpy = list(fruits)
print(fruitsCpy)
fruitsCpy = fruits[:]
print(fruitsCpy)

['apple', 'banana', 'mango', 'kiwi', 'orange', 'cherry', 'grape', 'dragon']
['APPLE', 'BANANA', 'MANGO', 'KIWI', 'ORANGE', 'CHERRY', 'GRAPE', 'DRAGON']
['APPLE', 'BANANA', 'MANGO', 'KIWI', 'ORANGE', 'CHERRY', 'GRAPE', 'DRAGON']

In [23]:
alphabetList = ['a', 'b', 'c']
numberList = [1, 2, 3]
mixedList = alphabetList + numberList
print(mixedList)

['a', 'b', 'c', 1, 2, 3]

In [24]:
abc = [5, 6, 7, 8, 9]

for i in numberList:
  abc.append(i)
print(abc)

[5, 6, 7, 8, 9, 1, 2, 3]

In [25]:
abc = [5, 6, 7, 8, 9]

abc.extend(numberList)
print(abc)

[5, 6, 7, 8, 9, 1, 2, 3]

In [26]:
thisTuple = ('A', 'B', 'C', 'A')
numTuple = tuple((1,2,3,4,5,6,7,9,10))
print(thisTuple)
print(thisTuple[1])
print('No of items present in this tuple ', len(thisTuple))
print(type(thisTuple))
print(thisTuple.count('A'))

('A', 'B', 'C', 'A')
B
No of items present in this tuple  4
<class 'tuple'>
2

In [27]:
print(numTuple[1:5])
#Printing from the last
print(numTuple[-8:-1])

(2, 3, 4, 5)
(2, 3, 4, 5, 6, 7, 9)

In [28]:
if 12 in numTuple:
  print('We have 12 in the numTuple')
else:
  print('12 not present in the numTuple')

12 not present in the numTuple

In [29]:
numList = list(numTuple)
numList[0] = 0
numTuple = tuple(numList)
print(numTuple)

(0, 2, 3, 4, 5, 6, 7, 9, 10)

In [30]:
newTuple = ('D',)
thisTuple += newTuple
print(thisTuple)

('A', 'B', 'C', 'A', 'D')

In [31]:
fruitsTuple = ('apple', 'banana', 'orange')
(red, yellow, orange) = fruitsTuple
print(orange)
print(yellow)

orange
banana

In [32]:
fruitsTuple = ('apple', 'banana', 'cherry', 'strawberry', 'kiwi', 'raspberry', 'orange')
(green, yellow, *remainingFruits) = fruitsTuple
print(green)
print(remainingFruits) # Prints all the remaining fruits as list

apple
['cherry', 'strawberry', 'kiwi', 'raspberry', 'orange']

In [33]:
(green, *remainingFruits, red, orange) = fruitsTuple
print(green)
print(remainingFruits)
print(orange)

apple
['banana', 'cherry', 'strawberry', 'kiwi']
orange

In [34]:
for x in fruitsTuple:
  print(x)

apple
banana
cherry
strawberry
kiwi
raspberry
orange

In [35]:
for i in range(len(fruitsTuple)):
  print(fruitsTuple[i])

apple
banana
cherry
strawberry
kiwi
raspberry
orange

In [36]:
fruitsTupleLen = len(fruitsTuple)
i = 0
while i < fruitsTupleLen:
  print(fruitsTuple[i])
  i += 1

apple
banana
cherry
strawberry
kiwi
raspberry
orange

In [37]:
#multiply tuple
multiplyTuple = tuple(range(5))
multiplyTuple = multiplyTuple * 2
print(multiplyTuple)

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4)