<a href="https://colab.research.google.com/github/naveenila1221/PyLearning/blob/main/PyLrng%20-%20250313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thisList = ["A", "B", "C"]
print(thisList)
thisList.remove("A")
print(thisList)

['A', 'B', 'C']
['B', 'C']

In [3]:
thisList = ["A", "B", "C", "B"]
print(thisList)
thisList.remove("A")

['A', 'B', 'C', 'B']

In [4]:
thisList = ["A", "B", "C", "B"]
print(thisList)
thisList.remove("A")
print(thisList)
thisList.remove("B")
print(thisList)

['A', 'B', 'C', 'B']
['B', 'C', 'B']
['C', 'B']

In [6]:
thisList = ["A", "B", "C", "B"]
thisList.pop(-1)
print(thisList)

['A', 'B', 'C']

In [9]:
thisList = ["A", "B", "C", "B"]
del thisList[2]
print(thisList)

['A', 'B', 'B']

In [11]:
thisList = ["A", "B", "C", "B"]
del thisList
# print(thisList) - this will result an error

In [12]:
thisList = ['A', 'B']
print(thisList)
thisList.clear()
print(thisList)

['A', 'B']
[]

In [14]:
thisList = [1, 2, 3, 4, 5]
sum = 0
for i in thisList:
  sum += i
print(sum)

15

In [17]:
sum = 0
for i in range(len(thisList)):
  #print(thisList[i])
  sum += thisList[i]
print(sum)

15

In [20]:

sum, i = 0, 0
while i < len(thisList):
  sum += thisList[i]
  i += 1
print(sum)

15

In [22]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [51]:
fruits = ["apple", "banana", "Mango", "kiwi", "orange", "cherry", "grape", "dragon"]
newList = []
for x in fruits:
  if "a" in x:
    newList.append(x)
print(newList)

['apple', 'banana', 'Mango', 'orange', 'grape', 'dragon']

In [31]:
newList = [x for x in fruits if "a" in x]
print(newList)

['apple', 'Mango', 'orange', 'grape', 'dragon']

In [32]:
newList = [x for x in fruits if "a" not in x]
print(newList)

['kiwi', 'cherry']

In [43]:
newList = [x for x in fruits if x != "cherry"]
print(newList)

['apple', 'Mango', 'kiwi', 'orange', 'grape', 'dragon']

In [44]:
numList = [(x+1) for x in range(10)]
print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
numList = [x for x in range(10) if x%2 == 0]
numList2 = [x/2 for x in range(10)]
oddNum = [x for x in range(10) if x%2 == 1]
print(numList)
print(numList2)
print(oddNum)

[0, 2, 4, 6, 8]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]
[1, 3, 5, 7, 9]

In [53]:
fruits = [x.upper() for x in fruits]
print(fruits)

['APPLE', 'BANANA', 'MANGO', 'KIWI', 'ORANGE', 'CHERRY', 'GRAPE', 'DRAGON']

In [62]:
#Return the item if it is not BANANA, if it is BANANA return berry
newList = [x.lower() if x != "BANANA" else "berry" for x in (fruits)]
newList.sort() # sorting the list
print(newList)

['apple', 'berry', 'cherry', 'dragon', 'grape', 'kiwi', 'mango', 'orange']

In [64]:
newList.sort(reverse= True) # sorting the list in reverse order
print(newList)

['orange', 'mango', 'kiwi', 'grape', 'dragon', 'cherry', 'berry', 'apple']

In [70]:
#custom sorting
def customSort(n):
  return abs(n-30)
numAry = [20,70,50,15,30,60,45,55,25]
numAry.sort(key = customSort)
print(numAry)
numAry.reverse()
print(numAry)

[30, 25, 20, 15, 45, 50, 55, 60, 70]
[70, 60, 55, 50, 45, 15, 20, 25, 30]

In [72]:
fruitsCpy = [x.lower() for x in fruits.copy()]
print(fruitsCpy)
fruitsCpy = list(fruits)
print(fruitsCpy)
fruitsCpy = fruits[:]
print(fruitsCpy)

['apple', 'banana', 'cherry', 'dragon', 'grape', 'kiwi', 'mango', 'orange']
['APPLE', 'BANANA', 'CHERRY', 'DRAGON', 'GRAPE', 'KIWI', 'MANGO', 'ORANGE']
['APPLE', 'BANANA', 'CHERRY', 'DRAGON', 'GRAPE', 'KIWI', 'MANGO', 'ORANGE']